{%extends 'base.html'%}

{%block content%}

<main class="container py-5">
    <section class="card card-body">

        <H1 class="display-1 text-center">Django</H1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores eius quia cupiditate suscipit quibusdam iure ut dolorem pariatur error incidunt, ea alias earum atque officia natus, illo, commodi veritatis expedita sunt corrupti! Ipsam commodi, ea nisi molestias quod consectetur beatae excepturi veritatis, molestiae perspiciatis porro aperiam consequuntur quasi expedita, aut odio! Aspernatur facilis cupiditate fuga. Similique praesentium harum quo, earum perferendis minima ipsum accusamus, adipisci odit amet rerum aperiam enim dolorum iusto sint quisquam molestias et tenetur. Ab itaque earum expedita aliquam optio cum? Fugiat quos omnis expedita, tempora, accusamus sequi eos, dignissimos nostrum labore ipsum similique modi illo error.</p>
    
        
      <div class="text-center">
        <a class="btn btn-primary" href="/signin/">Signin</a>
        <a class="btn btn-primary" href="/signup/">Signup</a>
      </div>
    
    </section>


</main>

{%endblock%}