{%extends 'base.html'%}

{%block content%}

  <section class="card card-body" style="background-color: rgba(255, 255, 255, 0.3);">

    <H1 class="display-1 text-center">TOPIC</H1>
        TOPIC is not just a platform but an invaluable playground and portfolio that empowers me to unleash my creativity and share my ideas and projects with the world. It serves as a blank canvas where I can bring my visions to life and express myself in a meaningful way.
        
        Within the realm of TOPIC, I have the freedom to explore diverse concepts and experiment with various mediums. Whether I'm developing a new software application, designing a stunning visual masterpiece, crafting compelling written content, or even pursuing a unique combination of disciplines, TOPIC welcomes and supports my creative endeavors.
        
        The platform's intuitive interface and user-friendly features make it effortless for me to showcase my work. I can effortlessly upload and organize my projects, arrange them in a visually appealing manner, and provide the necessary context to captivate the audience. With TOPIC, my portfolio becomes a reflection of my skills, passion, and artistic growth.
        </p>


    <div class="text-center">
      <a class="btn btn-primary" href="/signin/">Signin</a>
      <a class="btn btn-primary" href="/signup/">Signup</a>
    </div>

 

  <div class="row w-100 d-none d-lg-flex">
    <div class="col-lg-6 my-4">
      <iframe src="https://www.google.com/maps/embed/v1/place?q={{latitud}},{{longitud}}&key={{google_api_key}}"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    <div class="col-lg-6 my-4 d-flex align-items-center" style="background-color: rgba(255, 255, 255, 0.3);">
      <div>
        Moreover, TOPIC's community aspect amplifies the joy of sharing ideas and projects. I can connect with fellow creatives, engage in meaningful discussions, and receive valuable feedback that fuels my growth. The collaborative nature of TOPIC fosters an environment of support, inspiration, and knowledge-sharing, propelling me to push the boundaries of my creativity further.
        
        TOPIC also offers various tools and resources to enhance my creative journey. Whether it's accessing educational materials, attending webinars and workshops, or networking with industry professionals, the platform equips me with the necessary tools to refine my craft and stay ahead of the curve.
        
        In summary, TOPIC is more than just a playground or portfolio. It's a dynamic and inclusive space that nurtures my creativity, connects me with like-minded individuals, and provides a platform to share my ideas and projects with the world. It is an invaluable asset that empowers me to showcase my skills, grow as an artist, and make a lasting impact with my work.
      </div>
    </div
  </div>


    <div class="py-1">
      <h5>API Random Fact</h5>
      <p>{{fact}}</p>
    </div>

    {% if ip_info %}
      <div class="py-1">
        <h5>We know your IP address & location </h5>
        <p>IP: {{ip_info}}</p>
        <p>Exact location: {{latitud}}, {{longitud}}</p>
        <p> but dont worry we will not tell anyone...</p>
      </div>
    {% else %}
      <div style="display: none;">
        This div is hidden because ip_info is not provided or empty.
      </div>
    {% endif %} 
  </section>




{%endblock%}