{%extends 'base.html'%}


{%block content%}

<main class="container py-5"
    style="background-image: url('/static/img/bg.gif'); background-size: cover; background-repeat: no-repeat; background-position: center; height: 100vh; width: 100vw;">

    <div class="row">
        <section class="col-md-4 offset-md-4 mt-5">
            <form action="/signin/" method="POST" class="card card-body"
                style="background-color: rgba(255, 255, 255, 0.3);">
                {{error}}
                <h1 class="text-center">Singin</h1>
                {{error}}
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input type="text" name="username" class="form-control" placeholder="Write your username">
                </div>
                <div class="mb-3">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" class="form-control"
                        placeholder="Write your password">
                </div>
                {%csrf_token%}
                <button class="btn btn-primary">login</button>
            </form>
        </section>
    </div>


</main>




{%endblock%}