{% extends 'base.html' %}

{% block content %}
<style>
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
    }
    
    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: #2196F3;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
    
    .slider.round {
      border-radius: 34px;
    }
    
    .slider.round:before {
      border-radius: 50%;
    }
    .flex-container {
        display: flex;
        justify-content: flex-end; /* Alinea los elementos a la derecha */
        align-items: center; /* Alinea los elementos verticalmente en el centro */
        gap: 10px; /* Espacio entre los elementos */
        margin-top: -15px;
    }
    </style>
    
<main class="container py-5">
    <h1>Create a snippet</h1>
    <form action="{% url 'snippet' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="public_private_toggle" id="publicPrivateToggleValue">
        <div id="code-snippet" class="code-snippet language-python card card-body col-md-10">
            <select name="tag" id="tag" class="form-select">
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="csharp">C#</option>
            </select>
            <code contenteditable="true" style="margin-top: 15px;" >
                <textarea placeholder="Title of the snippet" name="title" id="snippet" cols="30" rows="1" style="width: 100%; height: 100%;"></textarea>
                <textarea placeholder="Your code" name="snippet" id="snippet" cols="30" rows="10" style="width: 100%; height: 100%;"></textarea>
            </code>
        </div>
        <button  class="btn btn-primary" type="submit" style="margin-top: 15px;" >Send</button>
        <div class= "flex-container"> 
        <label class="switch">
            <input type="checkbox" id="publicPrivateToggle">
            <span class="slider round"></span>
          </label>
          <p id="statusText">Public</p>
        </div>
</main>
<script>
    document.getElementById('publicPrivateToggle').addEventListener('change', function() {
        var statusText = document.getElementById('statusText');
        var toggleValueField = document.getElementById('publicPrivateToggleValue');
    
        if(this.checked) {
            statusText.textContent = 'Público';
            toggleValueField.value = true; // Valor para el estado "público"
        } else {
            statusText.textContent = 'Privado';
            toggleValueField.value =  false; // Valor para el estado "privado"
        }
    });
    
</script>
{% endblock %}
